.header a {
    text-decoration: none;
    padding: 5px;
    margin-right: 15px;
    font-size: 30px;
}

.header a:hover {
    background-color: skyblue;
}

.active {
    background-color: burlywood;
}